div.small-12.colums.moviesList
  div
    ul.menu
      li
        input(placeholder='Movie', [(ngModel)]='searchValue')
      li
        button(type='button').button.tiny Search
  div(*ngFor='let movie of movies | MovieFilterPipe:searchValue', style='width: 400px;').card
    div.card-divider
      h4
        | {{ movie.title }}
        |
        span
          i by {{ movie.directors }}
    img([src]='movie.poster', style='width: 400px;')
    div.card-section
      p {{ movie.synopsis }}
    div.card-section.buttons
      button(type='button', routerLink='{{ movie.id }}').button.small DETAILS
      button(type='button', routerLink='/edit/{{ movie.id }}').button.small.warning UPDATE
      button(type='button', (click)='deleteMovie(movie.id)').button.small.alert DELETE
  button(type='button', (click)='sortMoviesByYear(movie.releaseYear)').button SORT

