div
  ul.menu
    li
      input(placeholder='Movie', [(ngModel)]='searchValue')
    li
      button(type='button').button.small Search
  p(*ngFor="let movie of (movies | async) | MovieFilterPipe:searchValue") {{ movie.title }}
