div.card.row.expanded.text-center
  div.card-divider.small-12.colums
    h1 ERROR 404
  img(src='https://upload.wikimedia.org/wikipedia/commons/0/0d/Tumbeasts_sign1.png', style='width: 300px;')
  div.card-section
    h2 SORRY THIS PAGE DOESN'T EXIST ^^'
  button(type='button', (click)='goHome()').button.large BACK
