div.top-bar.row
  div.top-bar-left.small-12.colums
    ul(data-dropdown-menu='').dropdown.menu
      li.menu-text Angular App
      li
        a(routerLink="/page1", routerLinkActive="active") One
      li
        a(routerLink="/page2", routerLinkActive="active") Two
      li
        a(routerLink="/page3", routerLinkActive="active") Three
      li
        a(routerLink="/page4", routerLinkActive="active") Four
      li
        a(routerLink="/page5", routerLinkActive="active") Five

