div.top-bar.row.expanded
  div.top-bar-left.small-12.colums
    ul(data-dropdown-menu='').dropdown.menu
      li.menu-text Angular App
      li
        a(routerLink="/") Home
      li
        a(routerLink="/page1", routerLinkActive="active") One
      li
        a(routerLink="/movies", routerLinkActive="active") Movies
      li
        a(routerLink="/add", routerLinkActive="active") Add Movie
