div
  label Email
    input(type='text', placeholder='Email')
  label Password
    input(type='password')
  button(type='button', (click)='signIn()').button Sign In
  button(type='button', (click)='logIn()').button Log In
  button(type='button', (click)='logOut()').button.hide Log Out
